@import "../mixins.scss";
// Default CSS
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font: {
    family: var(--primary-font);
    weight: 400;
  }
}

p {
  margin-bottom: 10px;
  font: {
    family: var(--secondary-font);
    weight: 400;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.container-fluid {
  padding: {
    left: 25px;
    right: 25px;
  }
}

// Spacing area
.pt-120 {
  padding-top: 120px;
}

.pb-120 {
  padding-bottom: 120px;
}

.ptb-120 {
  padding: {
    top: 120px;
    bottom: 120px;
  }
}

// Default Button
.default-btn {
  padding: 16px 17px;
  border-radius: 25px;
  border: 1px solid #eeeeee;
  background-color: transparent;
  color: #ffffff;
  line-height: 17.32px;
  font: {
    size: 12px;
    weight: 400;
    family: var(--secondary-font);
  }

  &.style2 {
    color: #ffffff;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.631372549);
  }
}

// Divider
.divider {
  width: 100%;
  height: 1px;
  margin: 0 auto;
  background-color: #90b8f0;
}

@include mobile {
  .pt-120 {
    padding-top: 50px;
  }

  .pb-120 {
    padding-bottom: 50px;
  }

  .ptb-120 {
    padding: {
      top: 50px;
      bottom: 50px;
    }
  }
}
