@import '../mixins.scss';

.ideas-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 20px 20px;
    position: relative;
    min-height: 280px;
    margin-top: 30px;
    &::before {
        content: '';
        width: 100%;
        border-radius: 8px;
        height: calc(100% - 60px);
        background-color: var(--white-color);
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 0;
    }

    .ideas-card__img {
        width: 120px;
        height: 120px;
        margin-bottom: 30px;
        overflow: hidden;
        position: relative;
        border-radius: 4px;
        z-index: 1;
        img {
            width: 100%;
            border-radius: 4px;
        }
        span {
            font-size: 10px;
            padding: 5px 10px;
            letter-spacing: 1px;
            color: var(--black-color);
            background-color: var(--white-color);
            position: absolute;
            left: 0;
            top: 0;

        }
    }

    .ideas-card__content {
        position: relative;
        z-index: 1;
        .ideas-card__author {
            color: var(--primary-color);
            margin-bottom: 5px;
            font: {
                size: 14px;
                weight: 400;
                family: var(--secondary-font);
            };
        }

        .ideas-card__text {
            font: {
                size: 16px;
                weight: 400;
                family: var(--primary-font)
            };
        }

        .default-btn {
            display: inline-block;
            text-decoration: none;
            padding: 8px 20px;
            &.style2 {
                box-shadow: none;
            }
        }
    }

    @include desktop {
        .ideas-card__content {
            .ideas-card__text {
                font-size: 14px;
            }
        }
    }

    @include tablet {
        .ideas-card__content {
            .ideas-card__text {
                font-size: 14px;
            }
        }
    }
}