@import '../mixins.scss';
.listing {
    .listing__card-wrapper {
        margin-top: 26px;
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        .listing__card {
            text-align: center;
            border-radius: 6px;
            background-color: var(--white-color);
            img {
                transition: .5s ease-in-out;
            }
            &:hover  {
                img {
                    filter: invert(1);
                }
            }
        }
        @include desktop {
            grid-template-columns: repeat(4, 1fr);
        }
        @include laptop {
            grid-template-columns: repeat(3, 1fr);
        }
        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }
        @include mobile {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
