body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eeeeee;
}

@font-face {
  font-family: "Nantes";
  src: local("Nantes Regular"), local("Nantes-Regular"), url("../fonts/Nantes-Regular.woff2") format("woff2"), url("../fonts/Nantes-Regular.woff") format("woff"), url("../fonts/Nantes-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Messina Sans";
  src: local("Messina Sans Regular"), local("Messina-Sans-Regular"), url("../fonts/MessinaSans-Regular.ttf") format("woff2"), url("../fonts/MessinaSans-Regular.woff") format("woff"), url("../fonts/MessinaSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
:root {
  --primary-font: "Nantes";
  --secondary-font: "Messina Sans";
  --primary-color: #2042b6;
  --dark-color: #191618;
  --whiteShade-color: #ededed;
  --white-color: #ffffff;
  --black-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--primary-font);
  font-weight: 400;
}

p {
  margin-bottom: 10px;
  font-family: var(--secondary-font);
  font-weight: 400;
}
p:last-child {
  margin-bottom: 0;
}

.container-fluid {
  padding-left: 25px;
  padding-right: 25px;
}

.pt-120 {
  padding-top: 120px;
}

.pb-120 {
  padding-bottom: 120px;
}

.ptb-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.default-btn {
  padding: 16px 17px;
  border-radius: 25px;
  border: 1px solid #eeeeee;
  background-color: transparent;
  color: #ffffff;
  line-height: 17.32px;
  font-size: 12px;
  font-weight: 400;
  font-family: var(--secondary-font);
}
.default-btn.style2 {
  color: #ffffff;
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.631372549);
}

.divider {
  width: 100%;
  height: 1px;
  margin: 0 auto;
  background-color: #90b8f0;
}

@media (max-width: 767px) {
  .pt-120 {
    padding-top: 50px;
  }
  .pb-120 {
    padding-bottom: 50px;
  }
  .ptb-120 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.section-heading {
  max-width: 880px;
}
.section-heading .section-title {
  line-height: 1.2;
  margin-bottom: 18px;
  color: var(--dark-color);
  font-size: 48px;
  font-weight: 400;
  font-family: var(--primary-font);
}
.section-heading .section-subtitle {
  font-size: 16px;
  font-weight: 350;
  font-family: var(--secondary-font);
}
@media (min-width: 575px) and (max-width: 768px) {
  .section-heading .section-title {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .section-heading .section-title {
    font-size: 26px;
    margin-bottom: 8px;
  }
}

.header-wrapper {
  background-color: var(--primary-color);
  position: relative;
  padding: 30px 25px;
}
.header-wrapper .container-fluid {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-wrapper .logo-wrapper .logo .white-logo {
  display: block;
}
.header-wrapper .logo-wrapper .logo .black-logo {
  display: none;
}
.header-wrapper .header-right-area {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px;
}
.header-wrapper .header-share-btn {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.header-wrapper .header-menu-btn {
  background-color: transparent;
  border: none;
}
.header-wrapper .header-menu-btn .default-btn {
  color: #ffffff;
}
.header-wrapper.sticky {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  box-shadow: 0 0 10px #eeeeee;
  background-color: var(--white-color);
  padding-top: 16px;
  padding-bottom: 16px;
}
.header-wrapper.sticky .logo-wrapper .logo .white-logo {
  display: none;
}
.header-wrapper.sticky .logo-wrapper .logo .black-logo {
  display: block;
}
.header-wrapper.sticky .header-right-area .header-share-btn,
.header-wrapper.sticky .header-right-area .default-btn,
.header-wrapper.sticky .header-right-area .header-menu-area .header-menu-btn {
  filter: invert(1);
}
.header-wrapper .menu-popup {
  width: 338px;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(170, 170, 170, 0.3137254902);
  border-radius: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9999;
}
.header-wrapper .menu-popup .menu-popup-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-wrapper .menu-popup .menu-popup-header .header-share-btn {
  background-color: #afcd80;
  color: #ffffff;
  border: none;
}
.header-wrapper .menu-popup .menu-popup-header .default-btn {
  background-color: var(--primary-color);
  color: #ffffff;
}
.header-wrapper .menu-popup .menu-popup-header .menu-popup-close-btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
}
.header-wrapper .menu-popup .menu-list {
  margin: 24px 0 0;
  padding: 0;
  list-style: none;
}
.header-wrapper .menu-popup .menu-list li a {
  margin-bottom: 20px;
  display: inline-block;
  color: #191618;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}
.header-wrapper .menu-popup .visit-btn {
  font-size: 21px;
  font-weight: 400;
  color: var(--primary-color);
  font-family: var(--primary-font);
  text-decoration: none;
  margin-top: 12px;
  display: inline-block;
}
.header-wrapper .hidden {
  display: none;
}
@media (max-width: 767px) {
  .header-wrapper {
    padding: 20px 0px;
  }
  .header-wrapper .header-right-area .header-share-btn,
  .header-wrapper .header-right-area .default-btn {
    display: none;
  }
}

.hero-wrapper {
  background-color: var(--primary-color);
  position: relative;
}
.hero-wrapper .hero__content {
  text-align: center;
  position: relative;
  max-width: 850px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 300px;
}
.hero-wrapper .hero__content .hero__title {
  color: #ffffff;
  line-height: 1.4;
  position: relative;
  z-index: 1;
  font-size: 78px;
  font-weight: 400;
}
.hero-wrapper .hero__content .hero__text {
  color: #ffffff;
  line-height: 1.2;
  position: relative;
  z-index: 1;
  font-size: 21px;
  font-weight: 350;
  font-family: var(--secondary-font);
}
.hero-wrapper .hero__content #particles-js {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}
.hero-wrapper .hero__content::before {
  content: "";
  width: 210px;
  height: 100%;
  max-height: 427px;
  border: 1px solid #ffffff;
  position: absolute;
  left: 44%;
  top: 45%;
  transform: translate(-50%, -50%) skew(-40deg);
}
.hero-wrapper .hero__counter {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: absolute;
  left: 40px;
  bottom: 40px;
}
.hero-wrapper .hero__counter .counter-card .counter__number {
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 5px;
  font-size: 36px;
  font-weight: 400;
  font-family: var(--primary-font);
}
.hero-wrapper .hero__counter .counter-card .counter__number .odometer {
  margin-left: 2px;
  margin-right: 5px;
}
.hero-wrapper .hero__counter .counter-card .counter__number .counter__number__text {
  position: relative;
  top: 3px;
}
.hero-wrapper .hero__counter .counter-card .counter__number .counter__number__text.sup {
  font-size: 20px;
}
.hero-wrapper .hero__counter .counter-card .counter__text {
  line-height: 1.56;
  color: #CDCDCD;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--secondary-font);
}
@media (min-width: 992px) and (max-width: 1200px) {
  .hero-wrapper .hero__content {
    padding-top: 150px;
    padding-bottom: 200px;
  }
  .hero-wrapper .hero__counter {
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    padding: 0px 20px 60px;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .hero-wrapper .hero__content {
    padding-top: 150px;
    padding-bottom: 200px;
  }
  .hero-wrapper .hero__content .hero__title {
    font-size: 64px;
  }
  .hero-wrapper .hero__content .hero__text {
    font-size: 16px;
  }
  .hero-wrapper .hero__counter {
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    padding: 0px 20px 60px;
  }
}
@media (min-width: 575px) and (max-width: 768px) {
  .hero-wrapper .hero__content {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .hero-wrapper .hero__content .hero__title {
    font-size: 58px;
  }
  .hero-wrapper .hero__content .hero__text {
    font-size: 16px;
  }
  .hero-wrapper .hero__content::before {
    height: 70%;
    left: 50%;
    top: 50%;
  }
  .hero-wrapper .hero__counter {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    padding: 0px 20px 60px;
  }
}
@media (max-width: 767px) {
  .hero-wrapper .hero__content {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .hero-wrapper .hero__content .hero__title {
    font-size: 32px;
  }
  .hero-wrapper .hero__content .hero__text {
    font-size: 16px;
  }
  .hero-wrapper .hero__content::before {
    display: none;
  }
  .hero-wrapper .hero__content #particles-js {
    width: 100%;
    height: 100%;
  }
  .hero-wrapper .hero__counter {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    padding: 0px 20px 60px;
  }
  .hero-wrapper .hero__counter .counter-card {
    width: 42%;
  }
}

.chart-area {
  background-color: var(--white-color);
}
.chart-area .chart-area-wrapper {
  gap: 40px;
}
.chart-area .nav-pills {
  background-color: #EFF3F6;
  border-radius: 14px;
  padding: 10px 10px;
  flex-basis: 224px;
  flex-shrink: 0;
}
.chart-area .nav-pills .nav-link {
  background-color: transparent;
  padding: 13px 10px;
  color: #647888;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--primary-font);
}
.chart-area .nav-pills .nav-link svg {
  font-size: 12px;
}
.chart-area .nav-pills .nav-link .fa-minus {
  display: none;
}
.chart-area .nav-pills .nav-link.active {
  background-color: #2042B6;
  color: #ffffff;
}
.chart-area .nav-pills .nav-link.active .fa-minus {
  display: block;
}
.chart-area .nav-pills .nav-link.active .fa-plus {
  display: none;
}
.chart-area .tab-content {
  flex: 1;
}
.chart-area .chat-tab-content .ctb__title {
  line-height: 1.2;
  color: #191618;
  position: relative;
  padding-left: 40px;
  margin-left: 20px;
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 400;
}
.chart-area .chat-tab-content .ctb__title::before {
  content: "";
  width: 20px;
  height: 90%;
  border: 1px solid #191618;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) skew(-45deg);
}
.chart-area .chat-tab-content .ctb__card__wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.chart-area .chat-tab-content .ctb__card {
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F3F3F3;
  position: relative;
  border-radius: 6px;
  padding: 10px 15px;
  flex-basis: 25%;
  --card-color: #FC714D;
}
.chart-area .chat-tab-content .ctb__card .ctb__card__number {
  line-height: 1.2;
  margin: 0;
  color: var(--card-color);
  font-size: 30px;
  font-weight: 400;
}
.chart-area .chat-tab-content .ctb__card .ctb__card__title {
  width: 80px;
  text-align: end;
  padding-right: 15px;
  position: relative;
  font-size: 12px;
  font-weight: 400;
  font-family: var(--secondary-font);
}
.chart-area .chat-tab-content .ctb__card::after {
  content: "";
  width: 5px;
  height: 60%;
  border-radius: 15px;
  background-color: var(--card-color);
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.chart-area .chat-tab-content .ctb__card:nth-child(2) {
  --card-color: #615DE3;
}
.chart-area .chat-tab-content .ctb__card:nth-child(3) {
  --card-color: #7CA63A;
}
.chart-area .chat-tab-content .ctb__card:nth-child(4) {
  --card-color: #6F34A1;
}
.chart-area .ctb__chart-options {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.chart-area .ctb__chart-options .ctb__form, .chart-area .ctb__chart-options .ctb__filter {
  flex-basis: 50%;
  display: flex;
}
.chart-area .ctb__chart-options .ctb__form {
  display: flex;
  gap: 20px;
}
.chart-area .ctb__chart-options .ctb__form .form-select {
  width: 200px;
  outline: none;
  box-shadow: none;
  color: #ffffff;
  position: relative;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='%23ffffff' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='0' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}
.chart-area .ctb__chart-options .ctb__filter {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  justify-content: end;
}
.chart-area .ctb__chart-options .ctb__filter li {
  padding: 5px 0;
  background-color: #EFF3F6;
}
.chart-area .ctb__chart-options .ctb__filter li button {
  width: 55px;
  height: 40px;
  color: #748DA1;
  border: none;
  border-radius: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  font-family: var(--secondary-font);
}
.chart-area .ctb__chart-options .ctb__filter li:first-child {
  border-radius: 20px 0 0 20px;
}
.chart-area .ctb__chart-options .ctb__filter li:last-child {
  border-radius: 0 20px 20px 0;
}
.chart-area .ctb__chart-options .ctb__filter li.active button {
  background-color: #2042B6;
  color: #ffffff;
}
.chart-area #wpp__chart {
  margin-top: 20px;
  width: 100% !important;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .chart-area .chart-area-wrapper {
    gap: 40px;
    flex-wrap: wrap;
  }
  .chart-area .chart-area-wrapper .nav-pills {
    flex-direction: row !important;
    flex-basis: 100%;
    flex-shrink: 0;
  }
  .chart-area .chart-area-wrapper .nav-pills .nav-link {
    max-width: 20%;
    width: 100%;
    justify-content: center;
  }
  .chart-area .chart-area-wrapper .nav-pills .nav-link svg {
    display: none !important;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .chart-area .chart-area-wrapper {
    gap: 40px;
    flex-wrap: wrap;
  }
  .chart-area .chart-area-wrapper .nav-pills {
    flex-direction: row !important;
    flex-basis: 100%;
    flex-shrink: 0;
  }
  .chart-area .chart-area-wrapper .nav-pills .nav-link {
    max-width: 20%;
    width: 100%;
    justify-content: center;
  }
  .chart-area .chart-area-wrapper .nav-pills .nav-link svg {
    display: none !important;
  }
  .chart-area .chat-tab-content .ctb__card__wrapper {
    flex-wrap: wrap;
  }
  .chart-area .chat-tab-content .ctb__card__wrapper .ctb__card {
    flex-basis: calc(50% - 10px);
  }
}
@media (min-width: 575px) and (max-width: 768px) {
  .chart-area .chart-area-wrapper {
    gap: 40px;
    flex-wrap: wrap;
  }
  .chart-area .chart-area-wrapper .nav-pills {
    flex-direction: row !important;
    flex-basis: 100%;
    flex-shrink: 0;
    justify-content: center;
  }
  .chart-area .chart-area-wrapper .nav-pills .nav-link {
    max-width: 33.3333333333%;
    width: 100%;
    justify-content: center;
  }
  .chart-area .chart-area-wrapper .nav-pills .nav-link svg {
    display: none !important;
  }
  .chart-area .chat-tab-content .ctb__title {
    font-size: 24px;
  }
  .chart-area .chat-tab-content .ctb__card__wrapper {
    flex-wrap: wrap;
  }
  .chart-area .chat-tab-content .ctb__card__wrapper .ctb__card {
    flex-basis: calc(50% - 10px);
  }
  .chart-area .chat-tab-content .ctb__card__wrapper .ctb__card .ctb__card__number {
    font-size: 24px;
  }
  .chart-area .ctb__chart-options {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .chart-area .ctb__chart-options .ctb__form, .chart-area .ctb__chart-options .ctb__filter {
    flex-basis: auto;
  }
}
@media (max-width: 767px) {
  .chart-area .chart-area-wrapper {
    gap: 40px;
    flex-wrap: wrap;
  }
  .chart-area .chart-area-wrapper .nav-pills {
    flex-direction: row !important;
    flex-basis: 100%;
    flex-shrink: 0;
    justify-content: center;
  }
  .chart-area .chart-area-wrapper .nav-pills .nav-link {
    max-width: 50%;
    width: 100%;
    justify-content: center;
  }
  .chart-area .chart-area-wrapper .nav-pills .nav-link svg {
    display: none !important;
  }
  .chart-area .chat-tab-content .ctb__title {
    font-size: 20px;
  }
  .chart-area .chat-tab-content .ctb__card__wrapper {
    flex-wrap: wrap;
  }
  .chart-area .chat-tab-content .ctb__card__wrapper .ctb__card {
    flex-basis: 100%;
  }
  .chart-area .chat-tab-content .ctb__card__wrapper .ctb__card .ctb__card__number {
    font-size: 24px;
  }
  .chart-area .ctb__chart-options {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .chart-area .ctb__chart-options .ctb__form, .chart-area .ctb__chart-options .ctb__filter {
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .chart-area .ctb__chart-options .ctb__filter li button {
    width: 46px;
  }
  .chart-area .ctb__chart-options .ctb__form .form-select {
    width: 150px;
  }
}

.table-wrapper {
  padding-bottom: 20px;
  margin-top: 100px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.table-wrapper .container-fluid {
  background-color: var(--white-color);
}
.table-wrapper .dt-container .dt-layout-cell.dt-start {
  display: none;
}
.table-wrapper .dt-container.dt-empty-footer .dt-scroll-body {
  border: 0px;
}
.table-wrapper .section-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 100%;
}
.table-wrapper .section-heading .table_search {
  border: 1px solid #DADADA;
  border-radius: 6px;
  max-width: 40%;
}
.table-wrapper .section-heading .table_search .input-group-text {
  background-color: transparent;
  padding: 10px;
  border: none;
}
.table-wrapper .section-heading .table_search .form-control {
  box-shadow: none;
  outline: none;
  border: none;
  padding: 10px;
  padding-left: 0;
}
.table-wrapper ::-webkit-scrollbar {
  width: 5px;
}
.table-wrapper ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.table-wrapper ::-webkit-scrollbar-thumb {
  background: #2042b6;
  border-radius: 10px;
}
.table-wrapper ::-webkit-scrollbar-thumb:hover {
  background: #e5f1f3;
}
.table-wrapper .dt-input {
  outline: none;
  box-shadow: none;
}
.table-wrapper table.dataTable.display > tbody > tr > * {
  border: 0px;
}
.table-wrapper table.dataTable.display > tbody > tr:nth-child(odd) > * {
  box-shadow: inset 0 0 0 9999px #f3f3f3;
  border-radius: 6px;
}
.table-wrapper table.dataTable > thead > tr > th {
  border: 0px;
}
.table-wrapper table.dataTable.stripe > tbody > tr:nth-child(odd) > * {
  box-shadow: inset 0 0 0 9999px #f3f3f3;
}
.table-wrapper .button-group {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.table-wrapper .button-group .default-btn.style2 {
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.631372549);
}
@media (max-width: 767px) {
  .table-wrapper .section-heading {
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .table-wrapper .section-heading .table_search {
    max-width: 100%;
  }
}

.listing .listing__card-wrapper {
  margin-top: 26px;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.listing .listing__card-wrapper .listing__card {
  text-align: center;
  border-radius: 6px;
  background-color: var(--white-color);
}
.listing .listing__card-wrapper .listing__card img {
  transition: 0.5s ease-in-out;
}
.listing .listing__card-wrapper .listing__card:hover img {
  filter: invert(1);
}
@media (min-width: 992px) and (max-width: 1200px) {
  .listing .listing__card-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .listing .listing__card-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 575px) and (max-width: 768px) {
  .listing .listing__card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .listing .listing__card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.states-wrapper {
  position: relative;
  overflow: hidden;
}
.states-wrapper .container-fluid {
  padding-right: 0;
  padding-left: 16%;
}
.states-wrapper .shape-bg {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%) scale(1.2);
}
.states-wrapper .section-heading {
  margin-bottom: 20px;
}
.states-wrapper .section-heading .form-select {
  width: 200px;
  outline: none;
  box-shadow: none;
  color: #ffffff;
  position: relative;
  border-radius: 50px;
  padding: 14px 22px;
  margin-bottom: 15px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='%23ffffff' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='0' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  font-size: 42px;
  font-weight: 400;
  font-family: var(--primary-font);
}
.states-wrapper .state-slider .slider-img img {
  border-radius: 10px;
}
.states-wrapper .state-slider .owl-nav {
  margin-top: 30px;
}
.states-wrapper .state-slider .owl-nav button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: var(--white-color);
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1882352941);
}
.states-wrapper .slider-bottom-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  position: absolute;
  bottom: 120px;
  right: 50px;
  z-index: 1;
}
.states-wrapper .slider-bottom-area .slider-page-no {
  display: flex;
  align-items: center;
  gap: 10px;
}
.states-wrapper .slider-bottom-area .slider-page-no .form-select {
  border-radius: 50px;
  padding: 15px 20px;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1882352941);
}
.states-wrapper .slider-bottom-area .slider-page-no .total-page {
  width: 75px;
}

@media (min-width: 1201px) and (max-width: 1600px) {
  .states-wrapper .container-fluid {
    padding-left: 9%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .states-wrapper .shape-bg {
    display: none;
  }
  .states-wrapper .container-fluid {
    padding-left: 15px;
  }
  .states-wrapper .section-heading {
    padding-right: 15px;
  }
  .states-wrapper .section-heading .form-select {
    width: 120px;
    font-size: 24px;
    padding: 10px 14px;
    line-height: 1;
  }
  .states-wrapper .state-slider .owl-nav button {
    height: 46px;
    width: 46px;
  }
  .states-wrapper .slider-bottom-area {
    width: 75%;
    gap: 20px;
  }
  .states-wrapper .slider-bottom-area .slider-page-no .form-select {
    padding: 9px 0px 9px 15px;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .states-wrapper .shape-bg {
    display: none;
  }
  .states-wrapper .container-fluid {
    padding-left: 15px;
  }
  .states-wrapper .section-heading {
    padding-right: 15px;
  }
  .states-wrapper .section-heading .form-select {
    width: 120px;
    font-size: 24px;
    padding: 10px 14px;
    line-height: 1;
  }
  .states-wrapper .state-slider .owl-nav button {
    height: 36px;
    width: 36px;
  }
  .states-wrapper .slider-bottom-area {
    margin-top: 20px;
    padding-right: 15px;
    flex-wrap: wrap;
    width: 75%;
    gap: 20px;
    z-index: 1;
  }
  .states-wrapper .slider-bottom-area .slider-page-no .form-select {
    padding: 9px 0px 9px 15px;
  }
  .states-wrapper .slider-bottom-area .default-btn {
    padding: 10px 6px;
  }
}
@media (min-width: 575px) and (max-width: 768px) {
  .states-wrapper .shape-bg {
    display: none;
  }
  .states-wrapper .container-fluid {
    padding-left: 15px;
  }
  .states-wrapper .section-heading {
    padding-right: 15px;
  }
  .states-wrapper .section-heading .form-select {
    width: 120px;
    font-size: 24px;
    padding: 10px 14px;
    line-height: 1;
  }
  .states-wrapper .state-slider .owl-nav button {
    height: 36px;
    width: 36px;
  }
  .states-wrapper .slider-bottom-area {
    margin-top: 20px;
    padding-right: 15px;
    flex-wrap: wrap;
    width: 75%;
    gap: 20px;
    z-index: 1;
  }
  .states-wrapper .slider-bottom-area .slider-page-no .form-select {
    padding: 9px 0px 9px 15px;
  }
  .states-wrapper .slider-bottom-area .default-btn {
    padding: 10px 6px;
  }
}
@media (max-width: 767px) {
  .states-wrapper .shape-bg {
    display: none;
  }
  .states-wrapper .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .states-wrapper .section-heading {
    padding-right: 15px;
  }
  .states-wrapper .section-heading .form-select {
    width: 120px;
    font-size: 24px;
    padding: 10px 14px;
    line-height: 1;
  }
  .states-wrapper .state-slider .owl-nav button {
    height: 36px;
    width: 36px;
  }
  .states-wrapper .slider-bottom-area {
    margin-top: 20px;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    position: relative;
    bottom: unset;
    right: unset;
    z-index: 1;
  }
  .states-wrapper .slider-bottom-area .slider-page-no .form-select {
    padding: 9px 0px 9px 15px;
  }
  .states-wrapper .slider-bottom-area .default-btn {
    padding: 10px 6px;
  }
}
.ideas-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 20px 20px;
  position: relative;
  min-height: 280px;
  margin-top: 30px;
}
.ideas-card::before {
  content: "";
  width: 100%;
  border-radius: 8px;
  height: calc(100% - 60px);
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}
.ideas-card .ideas-card__img {
  width: 120px;
  height: 120px;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  z-index: 1;
}
.ideas-card .ideas-card__img img {
  width: 100%;
  border-radius: 4px;
}
.ideas-card .ideas-card__img span {
  font-size: 10px;
  padding: 5px 10px;
  letter-spacing: 1px;
  color: var(--black-color);
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  top: 0;
}
.ideas-card .ideas-card__content {
  position: relative;
  z-index: 1;
}
.ideas-card .ideas-card__content .ideas-card__author {
  color: var(--primary-color);
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--secondary-font);
}
.ideas-card .ideas-card__content .ideas-card__text {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--primary-font);
}
.ideas-card .ideas-card__content .default-btn {
  display: inline-block;
  text-decoration: none;
  padding: 8px 20px;
}
.ideas-card .ideas-card__content .default-btn.style2 {
  box-shadow: none;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .ideas-card .ideas-card__content .ideas-card__text {
    font-size: 14px;
  }
}
@media (min-width: 575px) and (max-width: 768px) {
  .ideas-card .ideas-card__content .ideas-card__text {
    font-size: 14px;
  }
}

.about-wrapper .about-inner-wrapper {
  background-color: var(--white-color);
  border-radius: 12px;
}
.about-wrapper .about-inner-wrapper .about__text-area {
  padding-left: 70px;
}
.about-wrapper .about-inner-wrapper .about__text-area h3 {
  line-height: 1.2;
  margin-bottom: 0px;
  font-size: 48px;
  font-weight: 400;
}
.about-wrapper .about-inner-wrapper .about__text-area h5 {
  line-height: 1.2;
  margin-bottom: 10px;
  color: #7D7F81;
  font-size: 30px;
  font-weight: 400;
}
.about-wrapper .about-inner-wrapper .about__text-area p {
  max-width: 622px;
  color: #191618;
}
.about-wrapper .about-inner-wrapper .about__text-area p a {
  color: #191618;
  border-bottom: 1px solid #000;
  text-decoration: none;
}
.about-wrapper .about-inner-wrapper .about__text-area .default-btn {
  margin-top: 15px;
  display: inline-block;
  text-decoration: none;
}
.about-wrapper .about-inner-wrapper .about__img-area img {
  width: 100%;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .about-wrapper .about-inner-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .about-wrapper .about-inner-wrapper .about__text-area {
    padding-left: 20px;
    margin-bottom: 0px;
  }
  .about-wrapper .about-inner-wrapper .about__text-area h3 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .about-wrapper .about-inner-wrapper .about__text-area h5 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .about-wrapper .about-inner-wrapper {
    padding-top: 50px;
  }
  .about-wrapper .about-inner-wrapper .about__text-area {
    padding-left: 20px;
    margin-bottom: 30px;
  }
  .about-wrapper .about-inner-wrapper .about__text-area h3 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .about-wrapper .about-inner-wrapper .about__text-area h5 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .about-wrapper .about-inner-wrapper .about__img-area {
    text-align: center;
  }
  .about-wrapper .about-inner-wrapper .about__img-area img {
    width: 50%;
  }
}
@media (min-width: 575px) and (max-width: 768px) {
  .about-wrapper .about-inner-wrapper {
    padding-top: 50px;
  }
  .about-wrapper .about-inner-wrapper .about__text-area {
    padding-left: 20px;
    margin-bottom: 30px;
  }
  .about-wrapper .about-inner-wrapper .about__text-area h3 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .about-wrapper .about-inner-wrapper .about__text-area h5 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .about-wrapper .about-inner-wrapper {
    padding-top: 50px;
  }
  .about-wrapper .about-inner-wrapper .about__text-area {
    padding-left: 0;
    margin-bottom: 30px;
  }
  .about-wrapper .about-inner-wrapper .about__text-area h3 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .about-wrapper .about-inner-wrapper .about__text-area h5 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.companies-portfolio .companies-logo-card-area ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
}
.companies-portfolio .companies-logo-card-area ul li {
  min-width: 220px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  transition: 0.5s ease-in-out;
  border-radius: 6px;
  padding: 0px 20px;
}
.companies-portfolio .companies-logo-card-area ul li img {
  width: 100%;
}
.companies-portfolio .companies-logo-card-area ul li:hover {
  filter: invert(1);
}
@media (min-width: 992px) and (max-width: 1200px) {
  .companies-portfolio .companies-logo-card-area ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .companies-portfolio .companies-logo-card-area ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 575px) and (max-width: 768px) {
  .companies-portfolio .companies-logo-card-area ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .companies-portfolio .companies-logo-card-area ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .companies-portfolio .companies-logo-card-area ul li {
    min-width: unset;
  }
}

@media (max-width: 767px) {
  .companies-portfolio .section-heading {
    margin-bottom: 20px;
  }
}
.footer {
  background-color: #E6E6E6;
}

.footer-large-text {
  max-width: 460px;
}
.footer-large-text h4 {
  line-height: 1.35;
  font-size: 36px;
  font-weight: 400;
}

.footer-links p {
  line-height: 1.2;
  color: #9FA0A1;
  font-size: 20px;
  font-weight: 700;
  font-family: var(--secondary-font);
}
.footer-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-links ul li a {
  color: var(--primary-color);
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
}

.footer-address-card {
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px solid #9FA0A1;
}
.footer-address-card h6 {
  line-height: 1.2;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  font-family: var(--secondary-font);
}
.footer-address-card p {
  line-height: 1.4;
  font-size: 20px;
  font-weight: 400;
  font-family: var(--secondary-font);
}
.footer-address-card:first-child {
  padding-top: 0;
}

.footer-bottom-area .footer-bottom-left-area {
  max-width: 517px;
}
.footer-bottom-area .footer-bottom-left-area ul {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
}
.footer-bottom-area .footer-bottom-left-area ul li {
  display: inline-block;
  margin-right: 20px;
  color: #9FA0A1;
  font-size: 14px;
  font-weight: 700;
  font-family: var(--secondary-font);
}
.footer-bottom-area .footer-bottom-left-area ul li a {
  color: #9FA0A1;
  text-decoration: none;
}
.footer-bottom-area .footer-bottom-left-area p {
  line-height: 1.38;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--secondary-font);
}
.footer-bottom-area .footer-bottom-social-area {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
}
.footer-bottom-area .footer-bottom-social-area li {
  display: inline-block;
  margin-right: 20px;
}
.footer-bottom-area .footer-bottom-social-area li a {
  font-size: 32px;
  color: #9FA0A1;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .footer-large-text h4 {
    font-size: 32px;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .footer-large-text {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .footer-large-text h4 {
    font-size: 32px;
  }
}
@media (min-width: 575px) and (max-width: 768px) {
  .footer-large-text {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .footer-large-text h4 {
    font-size: 24px;
  }
  .footer-address-card p {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .footer-large-text {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .footer-large-text h4 {
    font-size: 18px;
  }
  .footer-address-card p {
    font-size: 16px;
  }
  .footer-links {
    margin-bottom: 20px;
  }
  .footer-links ul li a {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
